.header {

border-style:dashed;    
border-radius: 10px;
display: flex;


}

.nasa {

    margin-top: 35px;
    height: 5px;
}

.subtitulo {

    border-bottom: 90px;
}

.card {

    border-style: solid;
    width: 550px;
}

.botao-aquecimento {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }

.titulo {

    font-family: Verdana;
}
  