.card {

    border-style: solid;
    width: 550px;
}

.botao-aquecimento {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }

.titulo {

    font-family: Verdana;
}
  
.cabecalho{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
}

.cabecalho-1 {

    display: flex;
    background-color: rgb(221, 221, 221);
    margin-bottom: 50px;
    align-items: center;
}

.cabecalho-1 .cabecalho {

    margin-left: 10px;

}

.noticia {

    background-color: rgb(221, 221, 221);
    padding-right: 847px;
    margin-right: 8px;
    border-style: solid;
}

.lua {

    padding-right: 560px;
}

.fundo {

}

.botao-lua {

    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    text-align: center;

}

.lua {

    color: rgb(0, 0, 0);
    padding: 50px;
    width: 700px;
    height: 300px;
    background-size: cover;
}

body {

    background-image: url("https://c4.wallpaperflare.com/wallpaper/640/143/649/minecraft-moon-stars-wallpaper-preview.jpg");
    background-repeat: no-repeat;
}